
@media screen and (min-width: 480px) and (max-width: 767px) {
    .container {
        max-width: 426px;
    }
}


@media screen and (min-width: 480px) {
    
    .hero.section {
        max-width: 480px;
        padding-top: 112px;
        padding-bottom: 112px;
    }

    .hero-title {
        width: 319px;
    }
}

/* ---------------section-doing---------------- */

.section-doing {
    display: none;
}